.approach {

}
.approach__top {
      padding: 80px 0;
      background-color: #f7f8f8;
  
      @include small-tablet {
        padding: 60px 0;
      }
    }
  
.approach__left {
      grid-column: 5 span;
      padding-top: 33px;
      color: #00413e;
  
      @include big-desktop {
        margin-bottom: var(--offset);
      }
  
      @include small-tablet {
        grid-column: 4 span;
      }
    }
  
.approach__right {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      grid-column: 7 / 6 span;
      gap: 8px;
  
      @include big-desktop {
        grid-column: 12 span;
        justify-content: flex-start;
      }
  
      @include small-tablet {
        grid-column: 4 span;
        flex-wrap: wrap;
      }
}
  
.approach__title {
      margin: 0;
      margin-bottom: 13px;
      font-weight: 400;
      font-size: 22px;
      line-height: 22px;
      color: var(--dark-color);
}
  
.approach__title__descr {
      margin: 0;
      margin-bottom: 37px;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: var(--text-color);
}
  
.approach__btn {
      border: 1px solid rgba(53, 83, 98, 0.2);
      padding: 16px 34px;
      color: #00413e;
}
  
.approach__bottom {
      padding: 24px 0;
      background-color: var(--light-color);
}
  
    .approach__item {
      grid-column: 2 span;
}
  
.approach__link {
      display: block;
      border-top: 1px solid rgba(53, 83, 98, 0.3);
      padding-top: 16px;
      padding-left: 32px;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: var(--text-color);
      background-position: left top 15px;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.approach__link:focus {
        outline: none;
}
  
      @include hover {
        border-color: var(--accent-color);
        color: var(--accent-color);
}
  
    .approach__link:active {
        border-color: var(--active-color);
        color: var(--active-color);
}
  
.approach__link--ted {
        background-image: url("../img/approach-icon-1.png");
}
  
.approach__link--nyt {
        background-image: url("../img/approach-icon-2.png");
      }
  
      .approach__link--scoop {
        background-image: url("../img/approach-icon-3.png");
      }
  
      .approach__link--press {
        background-image: url("../img/approach-icon-4.png");
      }
  
      .approach__link--time {
        background-image: url("../img/approach-icon-5.png");
      }
  
      .approach__link--freethink {
        background-image: url("../img/approach-icon-6.png");
      }

  .approach__link.focus-visible {
    border-color: var(--active-color);
  }