.hero {
    display: flex;
    flex-direction: column;
    padding-top: 190px;
    padding-bottom: 40px;
    min-height: 776px;
    color: white;
    background-image: url("/img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:1280px;
    margin-left: 283px;
}
.hero__container {
      margin-bottom: var(--offset);
}
  
.hero__content {
      grid-column: 6 span;
  
      @include small-tablet {
        grid-column: 4 span;
      }
}
  
.hero__title {
      margin: 0;
      margin-bottom: 29px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 38px;
      line-height: 44px;
      letter-spacing: 1.2px;
  
      @include tablet {
        font-size: 32px;
        line-height: 40px;
      }
}
  
.hero__descr {
      margin: 0;
      margin-bottom: 29px;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
}
  
.hero__bottom-container {
      margin-top: auto;
      width: 100%;
}
  
.hero__subtitle {
      margin: 0;
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
}
  
.hero__list {
      @include small-tablet {
        row-gap: var(--offset);
      }
}
  
.hero__item {
      grid-column: 2 span;
}
  
.hero__link {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.6);
      padding-top: 17px;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: inherit;
      transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.hero__link:focus {
        outline: none;
}
  
      @include hover {
        border-color: var(--accent-color);
        color: var(--accent-color);
      }
 
.hero__link:focus:active {
        border-color: var(--active-color);
        color: var(--active-color);
      }
 
  
  .hero__link.focus-visible {
    
  }