.steps {
    padding: 120px 0;
    background-color: var(--light-color);
}
.steps__title {
      margin: 0 auto;
      margin-bottom: 57px;
      max-width: 720px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 1.2px;
      text-align: center;
      color: #014c48;
  
      @include small-tablet {
        font-size: 24px;
        line-height: 32px;
      }
    }
  
    .steps__list {
      counter-reset: steps;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 758px;
  
      @include small-tablet {
        flex-wrap: wrap;
        gap: var(--offset);
      }
    }
  
    .steps__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #014c48;
    }
      .steps__item::before {
        counter-increment: steps;
        content: counter(steps);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 28px;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: var(--light-color);
        background: #014c48;
      }
  
      .steps__item--line {
        position: relative;
        flex-grow: 1;
}
        .steps__item::before {
          display: none;
}
  
.steps__item::after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -35px;
          width: 100%;
          height: 1px;
          background: rgba(53, 83, 98, 0.2);
          transform: translateY(-50%);
        }

      @include small-tablet {
        width: 100%;
  
        .steps__item::after {
          display: none;
        }
      }
  
      .steps__item__descr {
      margin: 0;
      max-width: 142px;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: rgba(53, 83, 98, 0.8);
    }
  
    @include small-tablet {
      padding: 60px 0;
    }
